@import '../../styles/variables.scss';

.student-container-left {
  display: grid;
  place-items: center;
  padding: 20px 0px 20px 20px;
  .student-inner-container-left {
    display: flex;
    flex-direction: column;
    padding: 20px 80px 20px 20px;
    margin-left: 80px;
    place-items: center;
    border-right: 5px solid $primary-color-light-1;
  }
}

.student-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  padding: 20px 20px 20px 0px;
  .student-inner-container-left {
    display: flex;
    flex-direction: column;
    padding: 20px 80px 20px 20px;
    margin-left: 80px;
    place-items: center;
    border-right: 5px solid #b39ef0;
  }
}

.student-go-back {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px 0px 0px 20px;
  z-index: 20;
  .student-go-back-arrow {
    color: $black-text-color;
    font-size: 25px;
    transition: all 100ms;
  }
  .student-go-back-arrow:hover {
    font-size: 28px;
    font-size-adjust: 25px;
  }
}
