@import '../../styles/variables.scss';

.ant-btn.primaryButton {
  background-color: $primary-color;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-color: $primary-color-dark-1;
  font-size: 16px;
  height: 40px;
  padding: 0px 21px;
  color: #fff;
}

.ant-btn.primaryButton:hover,
.ant-btn.primaryButton:focus,
.ant-btn.primaryButton:active {
  background-color: $primary-color;
  color: #fff;
  border-color: $primary-color-dark-1;
}

.ant-btn.secondaryButton {
  background-color: #fff;
  color: $black-text-color;
  font-size: 16px;
  height: 40px;
  padding: 0px 21px;
  border: 1px solid $black-text-faded-color;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.ant-btn.tertiaryButton {
  background: $background-primary-color;
  color: $black-text-faded-color;
  font-size: 16px;
  height: 40px;
  padding: 0px 21px;
  border: 1px solid $background-primary-color;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.ant-btn.secondaryButton[disabled] {
  color: $black-text-color !important;
  background-color: #fff !important;
}

.ant-btn.secondaryButton:hover,
.ant-btn.secondaryButton:focus,
.ant-btn.secondaryButton:active {
  border: 1px solid $black-text-faded-color;
  color: $black-text-color;
}
