$primary-color: #8564e8;
$primary-color-dark-1: #6d53bd;
$primary-color-light-1: #b39ef0;
$black-text-color: #333;
$background-primary-color: #f7f7fb;
$black-text-faded-color: #aaaec4;
$border-grey-color: #7b6d8445;
$background-secondary-color: #bfb1e9;
